<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1 : ADD ME</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td colspan="2" style="text-align:center"><strong>Lessons</strong></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td rowspan="8" style="vertical-align:middle"><a href="https://carpentries-incubator.github.io/machine-learning-novice-python/">Introduction to machine learning</a></td>        <!-- time    -->
        <td>Introduction</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->    <!-- time    -->
        <td>Data preparation</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->    <!-- time    -->
        <td>Learning</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->    <!-- time    -->
        <td>Modelling</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 6   -->    <!-- time    -->
        <td>Validation</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 7   -->    <!-- time    -->
        <td>Evaluation</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 8   -->    <!-- time    -->
        <td>Bootstrapping</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 9   -->    <!-- time    -->
        <td>Data leakage</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 10   -->
        <td colspan="2" style="text-align:center"><strong>&nbsp;</strong></td>        <!-- time    -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2 : ADD ME</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td colspan="2" style="text-align:center"><strong>Lessons</strong></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td rowspan="8" style="vertical-align:middle"><a href="https://carpentries-incubator.github.io/machine-learning-trees-python/">Tree models</a></td>        <!-- time    -->
        <td>Introduction</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->    <!-- time    -->
        <td>Decision trees</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->    <!-- time    -->
        <td>Variance</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->    <!-- time    -->
        <td>Boosting</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 6   -->    <!-- time    -->
        <td>Bagging</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 7   -->    <!-- time    -->
        <td>Random forest</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 8   -->    <!-- time    -->
        <td>Gradient boosting</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 9   -->    <!-- time    -->
        <td>Evaluation</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 10   -->
        <td colspan="2" style="text-align:center"><strong>&nbsp;</strong></td>        <!-- time    -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3 : ADD ME</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td colspan="2" style="text-align:center"><strong>Lessons</strong></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td rowspan="6" style="vertical-align:middle"><a href="https://carpentries-incubator.github.io/machine-learning-neural-python/">Neural networks</a></td>        <!-- time    -->
        <td>Introduction</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->    <!-- time    -->
        <td>Visualisation</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->    <!-- time    -->
        <td>Data preparation</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->    <!-- time    -->
        <td>Neural networks</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 6   -->    <!-- time    -->
        <td>Training and evaluation</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 7   -->    <!-- time    -->
        <td>Explainability</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 8   -->
        <td colspan="2" style="text-align:center"><strong>&nbsp;</strong></td>        <!-- time    -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 4 : ADD ME</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td colspan="2" style="text-align:center"><strong>Lessons</strong></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td rowspan="7" style="vertical-align:middle"><a href="https://carpentries-incubator.github.io/machine-learning-responsible-python/">Responsible machine learning</a></td>        <!-- time    -->
        <td>Introduction</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->    <!-- time    -->
        <td>Tasks</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->    <!-- time    -->
        <td>Data</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->    <!-- time    -->
        <td>Fairness</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 6   -->    <!-- time    -->
        <td>Dataset shift</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 7   -->    <!-- time    -->
        <td>Explainability</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 8   -->    <!-- time    -->
        <td>Attacks</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 9   -->
        <td colspan="2" style="text-align:center"><strong>&nbsp;</strong></td>        <!-- time    -->
      </tr>
    </table>
  </div>
</div>
